<!DOCTYPE html>
<html lang="cn">
<head>







    <!-- Meta information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">


    <!--<link rel="stylesheet" href="__PUBLIC__/uploadify.css">-->
    <!--<script src='__PUBLIC__/jquery-1.11.3.js'></script>-->

    <!--<script type="text/javascript" src="__ADMIN__/assets/plugins/ckeditor/ckeditor.js"></script>-->




    <!-- Title-->
    <title>CAPLET |  Admin HTML Themes</title>



    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__ADMIN__/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__ADMIN__/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__ADMIN__/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__ADMIN__/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="__ADMIN__/assets/ico/favicon.ico">

    <!-- CSS Stylesheet-->
    <link type="text/css" rel="stylesheet" href="__ADMIN__/assets/css/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="__ADMIN__/assets/css/bootstrap/bootstrap-themes.css" />
    <link type="text/css" rel="stylesheet" href="__ADMIN__/assets/css/style.css" />

    <!-- Styleswitch if  you don't chang theme , you can delete -->
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="__ADMIN__/assets/css/styleTheme1.css" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="__ADMIN__/assets/css/styleTheme2.css" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="__ADMIN__/assets/css/styleTheme3.css" />
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="__ADMIN__/assets/css/styleTheme4.css" />


    <link rel="stylesheet" href="__PUBLIC__/uploadify.css">


</head>

<body>

<div id="wrapper">
    <!--
    /////////////////////////////////////////////////////////////////////////
    //////////     HEADER  CONTENT     ///////////////
    //////////////////////////////////////////////////////////////////////
    -->
    <div id="header">


        <div class="logo-area clearfix">
            <a href="#" class="logo"></a>
        </div>
        <!-- //logo-area-->

        <div class="tools-bar">
            <ul class="nav navbar-nav nav-main-xs">
                <li><a href="#menu" class="icon-toolsbar"><i class="fa fa-bars"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right tooltip-area">
                <li><a href="#menu-right" data-toggle="tooltip" title="Right Menu" data-container="body" data-placement="left"><i class="fa fa-align-right"></i></a></li>
                <li class="hidden-xs hidden-sm"><a href="#" class="h-seperate">Help</a></li>
                <li><button class="btn btn-circle btn-header-search" ><i class="fa fa-search"></i></button></li>
                <li><a href="#" class="nav-collapse avatar-header">
                    <img alt="" src="__ADMIN__/assets/img/head.jpg"  class="circle">
                    <span class="badge">3</span>
                </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <em><strong>Hi</strong>, Admin </em> <i class="dropdown-icon fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right icon-right arrow">
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Setting </a></li>
                        <li><a href="#"><i class="fa fa-bookmark"></i> Bookmarks</a></li>
                        <li><a href="#"><i class="fa fa-money"></i> Make a Deposit</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> Signout </a></li>
                    </ul>
                    <!-- //dropdown-menu-->
                </li>
                <li class="visible-lg">
                    <a href="#" class="h-seperate fullscreen" data-toggle="tooltip" title="Full Screen" data-container="body"  data-placement="left">
                        <i class="fa fa-expand"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- //tools-bar-->

    </div>
    <!-- //header-->


    <!--
    /////////////////////////////////////////////////////////////////////////
    //////////     SLIDE LEFT CONTENT     //////////
    //////////////////////////////////////////////////////////////////////
    -->
    <div id="nav">
        <div id="nav-scroll">
            <div class="avatar-slide">

								<span class="easy-chart avatar-chart" data-color="theme-inverse" data-percent="69" data-track-color="rgba(255,255,255,0.1)" data-line-width="5" data-size="118">
										<span class="percent"></span>
										<img alt="" src="__ADMIN__/assets/img/head.jpg" class="circle">
								</span>
                <!-- //avatar-chart-->

                <div class="avatar-detail">
                    <p><strong>Hi</strong>, Admin</p>
                    <p><a href="#">@ Chaing Mai , TH</a></p>
                    <span>12,110 Sales</span>
                    <span>106 Follower</span>
                </div>
                <!-- //avatar-detail-->

                <div class="avatar-link btn-group btn-group-justified">
                    <a class="btn" href="profile.html"  title="Portfolio"><i class="fa fa-briefcase"></i></a>
                    <a class="btn"  data-toggle="modal" href="#md-notification" title="Notification">
                        <i class="fa fa-bell-o"></i><em class="green"></em>
                    </a>
                    <a class="btn"  data-toggle="modal" href="#md-messages"  title="Messages">
                        <i class="fa fa-envelope-o"></i><em class="active"></em>
                    </a>
                    <a class="btn" href="#menu-right" title="Contact List"><i class="fa fa-book"></i></a>
                </div>
                <!-- //avatar-link-->

            </div>
            <!-- //avatar-slide-->


            <div class="widget-collapse dark">
                <header>
                    <a data-toggle="collapse" href="#collapseSummary"><i class="collapse-caret fa fa-angle-up"></i> Summary Order </a>
                </header>
                <section class="collapse in" id="collapseSummary">
                    <div class="collapse-boby" style="padding:0">

                        <div class="widget-mini-chart align-xs-left">
                            <div class="pull-right" >
                                <div class="sparkline mini-chart" data-type="bar" data-color="theme" data-bar-width="10" data-height="35">2,3,4,5,7,4,5</div>
                            </div>
                            <p>This week's balance</p>
                            <h4>$12,788</h4>
                        </div>
                        <!-- //widget-mini-chart -->

                        <div class="widget-mini-chart align-xs-right">
                            <div class="pull-left">
                                <div class="sparkline mini-chart" data-type="bar" data-color="warning" data-bar-width="10" data-height="45">2,3,7,5,4,6,6,3</div>
                            </div>
                            <p>This week sales</p>
                            <h4>1,325 item</h4>
                        </div>
                        <!-- //widget-mini-chart -->

                    </div>
                    <!-- //collapse-boby-->

                </section>
                <!-- //collapse-->
            </div>
            <!-- //widget-collapse-->



            <div class="widget-collapse dark">
                <header>
                    <a data-toggle="collapse" href="#collapseTasks"><i class="collapse-caret fa fa-angle-down"></i> (2) Tasks processing </a>
                </header>
                <section class="collapse" id="collapseTasks">

                    <div class="collapse-boby">

                        <div class="widget-slider">
                            <p>Upload status</p>
                            <div class="progress progress-dark progress-xs tooltip-in">
                                <div class="progress-bar bg-darkorange" aria-valuetransitiongoal="75"></div>
                            </div>
                            <label class="progress-label">Master.zip 4 / 5 </label>
                            <!-- //progress-->

                            <div class="progress progress-dark progress-xs">
                                <div class="progress-bar bg-theme-inverse" aria-valuetransitiongoal="45"></div>
                            </div>
                            <label class="progress-label lasted">Profile 2 / 5 </label>
                            <!-- //progress-->

                        </div>
                        <!-- //widget-slider-->

                    </div>
                    <!-- //collapse-boby-->

                </section>
                <!-- //collapse-->
            </div>
            <!-- //widget-collapse-->



            <div class="widget-collapse dark">
                <header>
                    <a data-toggle="collapse" href="#collapseSetting"><i class="collapse-caret fa fa-angle-up"></i> Setting Option </a>
                </header>
                <section class="collapse in" id="collapseSetting">
                    <div class="collapse-boby" style="padding:0">

                        <ul class="widget-slide-setting">
                            <li>
                                <div class="ios-switch theme pull-right">
                                    <div class="switch"><input type="checkbox" name="option"></div>
                                </div>
                                <label>Switch <span>OFF</span></label>
                                <small>Lorem ipsum dolor sit amet</small>
                            </li>
                            <li>
                                <div class="ios-switch theme-inverse pull-right">
                                    <div class="switch"><input type="checkbox" name="option_1" checked></div>
                                </div>
                                <label>Switch <span>ON</span></label>
                                <small>Lorem ipsum dolor sit amet</small>
                            </li>
                        </ul>
                        <!-- //widget-slide-setting-->

                    </div>
                    <!-- //collapse-boby-->

                </section>
                <!-- //collapse-->
            </div>
            <!-- //widget-collapse-->


        </div>
        <!-- //nav-scroller-->
    </div>
    <!-- //nav-->


    <!--
    /////////////////////////////////////////////////////////////////////////
    //////////     TOP SEARCH CONTENT     ///////
    //////////////////////////////////////////////////////////////////////
    -->
    <div class="widget-top-search">
        <span class="icon"><a href="#" class="close-header-search"><i class="fa fa-times"></i></a></span>
        <form id="top-search">
            <h2><strong>Quick</strong> Search</h2>
            <div class="input-group">
                <input  type="text" name="q" placeholder="Find something..." class="form-control" />
							<span class="input-group-btn">
							<button class="btn" type="button" title="With Sound"><i class="fa fa-microphone"></i></button>
							<button class="btn" type="button" title="Visual Keyboard"><i class="fa fa-keyboard-o"></i></button>
							<button class="btn" type="button" title="Advance Search"><i class="fa fa-th"></i></button>
							</span>
            </div>
        </form>
    </div>
    <!-- //widget-top-search-->